.home-container {
  text-align: center;
  padding: 20px;
}

.image-container {
  position: relative; /* Allows absolute positioning of button and description */
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Ensures image doesn't overflow rounded corners */
  margin-bottom: 20px;
}

.inspection-image {
  max-width: 100%;
  height: 500px;
  border-radius: 20px; /* Match container border-radius */
  transition: transform 0.3s ease; /* Smooth transition for image scaling */
}

.image-container:hover .inspection-image {
  transform: scale(1.1); /* Slightly scale up the image on hover */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Cover half of the image */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black shadow */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  border-radius: 20px 20px 0 0; /* Match container border-radius */
  z-index: 1; /* Ensure overlay is above image */
}

.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.inspect-button, .description {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  z-index: 2; /* Ensure button and description are above overlay */
}

.image-container:hover .inspect-button,
.image-container:hover .description {
  opacity: 1; /* Show button and description on hover */
}

.inspect-button {
  position: absolute;
  bottom: 14%; /* Position from bottom */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 0); /* Adjust position to truly center */
background-color: #ffcd11; /* Semi-transparent white */
  color: black;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.description {
  position: absolute;
  bottom: 25%; /* Position above the button */
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 22px; /* Larger font size */
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Text shadow for better readability */
}

.home-content {
  text-align: center;
  margin-top: 80px; /* Adjust to avoid large gap below the image */
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 50px; /* Adjust as needed */
}

.card {
  flex: 0 1 300px;
  position: relative; /* Allows absolute positioning of overlay */
  color: white;
  border-radius: 8px;
  overflow: hidden; /* Ensures image doesn't overflow rounded corners */
  padding: 0;
  margin: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3, .card p {
  position: relative;
  z-index: 2;
  padding: 20px;
  margin: 0;
}

.card h3 {
  
  font-size: 18px;
}

.card p {
  
  font-size: 14px;
}

.card-image {
  width: 100%;
 z-index: 0;
 position: absolute; 
  transition: transform 0.3s ease; /* Smooth transition for image scaling */
}

.card:hover .card-image {
  transform: scale(1.1); /* Slightly scale up the image on hover */
}

.card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  /* Cover half of the image */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black shadow */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  z-index: 1; /* Ensure overlay is above image */
}

.card:hover .card-overlay {
  opacity: 1; /* Show overlay on hover */
}